{% extends "base.html" %} {% block main %}
<h1>Contact Form</h1>
<hr />
<p>Fill in this form to contact the site owners.</p>
<form action="{{ url_for('contact') }}" method="post">
  {{ form.csrf_token }}
  <div class="form-group">
    <p>Please enter your full name</p>
    {{ form.name.label(class="form-label") }}
    <span class="required"> (Required)</span>
    {{form.name(class="form-control")}}
  </div>
  <div class="form-group">
    <p>Please enter your e-mail address</p>
    {{ form.email.label(class="form-label") }}<span class="required">
      (Required)</span
    >
    {{form.email(class="form-control") }}
  </div>
  <div class="form-group">
    <p>Please enter the subject of your message.</p>
    {{ form.subject.label(class="form-label") }}
    <span class="required"> (Required)</span>
    {{form.subject(class="form-control")}}
  </div>
  <div class="form-group">
    <p>Please enter the message you would like to send</p>
    {{ form.message.label(class="form-label") }}
    <span class="required"> (Required)</span>
    {{form.message(class="form-control")}}
  </div>
  <button>Submit</button>
</form>
{% endblock %}
